body{
    margin: 0;
    padding: 0;
    font-family:"Microsoft JhengHei";
}
.main_left{
    position:fixed;
    background-color:goldenrod;
    /* background-image: url("img/foreign_parts_left.png"); */
    width:50%;
    height: 100%;
    /* background-repeat: no-repeat; */
    
}
.main_left img{
    position:relative;
    margin-left: 60px;
}
.main_right{
    position:relative;
    margin-left: 50%;
    text-align: center;
}
.main_right div{
    margin-bottom: 35px;
    /* border:solid 1px; */
}
.text{
    text-align: left;
    padding-left: 100px;
}
table{
    width: 80%;
    border: 2px gray solid;
    margin-left: 10%;
    
}
th{
    border: 1px gray solid;
    background-color: aquamarine;
}
td{
    border: 1px gray solid;
}
#book_ticket:hover{
    opacity: 0.8;
}